@import 'nib'
global-reset()

ellipsis()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

user-select()
  -webkit-touch-callout: arguments;
  -webkit-user-select: arguments;
  -khtml-user-select: arguments;
  -moz-user-select: arguments;
  -ms-user-select: arguments;
  user-select: arguments;

*
  box-sizing: border-box

html, body
  background: black
  color: white
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  height: 100%
  overflow: hidden
  width: 100%

body.inactive
  cursor: none

a
  display: block
  color: #FFF
  text-decoration: none

#player
  position: fixed
  height: 100%
  width: 116%
  margin-left: -8%
  z-index: 10

#view
  position: fixed
  height: 100%
  width: 100%
  padding: 100px 30px 15px 30px
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5)
  z-index: 20
  background: linear-gradient(top, rgba(0,0,0,0.7) 0px, rgba(0,0,0,0) 100px)

#blur
  position: fixed
  height: 100%
  width: 100%
  -webkit-filter: blur(3px)
  -moz-filter: blur(3px)
  -o-filter: blur(3px)
  -ms-filter: blur(3px)
  filter: blur(3px)
  z-index: 0

#background
  position: fixed
  background-position: top left
  background-size: cover
  background-repeat: no-repeat
  height: 100%
  width: 100%

#header
  position: fixed
  height: 100px
  width: 100%
  margin-top: 15px
  z-index: 100

#search
  display: block
  height: 50px
  width: 400px
  background: linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2))
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3)
  border: 2px solid #FFF
  border-radius: 25px
  color: #FFF
  font-size: 20px
  outline: 0
  margin: 0 auto
  padding-left: 20px
  padding-right: 20px
  text-shadow: 0 0 rgba(0, 0, 0, 0.7)

::-webkit-input-placeholder
  color: #DDD
::-moz-placeholder
  color: #DDD
:-ms-input-placeholder
  color: #DDD

h1, h2, h3, h4
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7)
  line-height: 1.5em
h1
  font-family: 'Rock Salt', cursive
  font-size: 80px
h2
  font-size: 40px

#controls
  position: fixed
  width: 100%
  bottom: 0
  z-index: 100

  cursor: pointer
  user-select(none)

  .timeline, .progress
    float: left
    height: 35px
    transition: height 0.15s linear

    .inactive &
      height: 10px

  .time
    left: 0
    opacity: 1
    font-size: 18px
    margin: 7px 12px
    transition: opacity 0.15s linear
    .inactive &
      opacity: 0
  .timeline
    width: 100%
    background-color: rgba(123, 0, 153, 0.4)
  .progress
    width: 0%
    background-color: rgb(123, 0, 153)

#results
  max-width: 1440px

.result
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7)

  &:hover
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7)

.tracks, .artists, .albums
  float: left
  padding: 0 20px
  width: 33%
  .result
    margin-bottom: 15px

.tracks .result
  background-color: rgba(0, 0, 0, 0.7)
  border-radius: 5px
  height: 70px
  .left
    display: inline-block
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px
    background-color: rgb(123, 0, 153)
    float: left
    height: 70px
    width: 70px
  .playBtn
    height: 56px
    width: 56px
    border-radius: 28px
    border: 3px solid #FFF
    margin: 7px
    .arrow
      width: 0
      height: 0
      border-top: 15px solid transparent
      border-bottom: 15px solid transparent
      border-left: 26px solid #FFF
      margin: 10px 0 0 16px
  .right
    display: inline-block
    padding: 10px 15px
    overflow: hidden
  .name, .artist
    line-height: 1.5em
  .name
    ellipsis()
    width: 100%
    font-size: 21px
  .artist
    color: #AAA
    font-size: 13px

.artists .result
  height: 300px
  text-align: center
  border-radius: 10px

  .gradient
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 30%)
    border-radius: 10px
    height: 100%
    width: 100%
    padding: 10px 15px
    background-size: cover

  .name
    font-size: 21px
    line-height: 1.5em


.albums .result
  width: 180px
  height: 180px
  border-radius: 5px
  float: left
  text-align: center
  margin-right: 15px

  .gradient
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0) 30%)
    border-radius: 5px
    height: 100%
    width: 100%
    padding: 10px 15px
    background-size: cover

  .name
    font-size: 16px
    line-height: 1.5em

  .artist
    color: #AAA
    font-size: 12px

