extends layout

block content
  #logo
  #blur
    #background
  #header
    #search
      input(type='text', placeholder='Search artists, tracks, or albums')
      .exitBtn ✕
  #view
  #player

  #controls
    .play
    .timeline
      .progress
        .time 0:00
