extends layout

block content
  #blur
    #background
  #header
    input#search(type='text', placeholder='Search artists, tracks, or albums')
  #view
  #player

  #controls
    .play
    .timeline
      .progress
        .time 0:00
