doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/main.css')
    link(href='http://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet')
    //- link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')

  body
    block content
    script(src='/lastfm.api.md5.js')
    script(src='/lastfm.api.cache.js')
    script(src='/lastfm.api.js')
    script(src='/bundle.js')