<div class='albums'>
  <a class='album' href='/album/aristName/albumName'>
    <img src='https://pbs.twimg.com/profile_images/454333621331976193/AX-M-ESC.jpeg'>
    <span class='sub'>Album Name</span>
  </a>
  <a class='album' href='/album/aristName/albumName'>
    <img src='https://pbs.twimg.com/profile_images/454333621331976193/AX-M-ESC.jpeg'>
    <span class='sub'>Album Name</span>
  </a>
  <a class='album' href='/album/aristName/albumName'>
    <img src='https://pbs.twimg.com/profile_images/454333621331976193/AX-M-ESC.jpeg'>
    <span class='sub'>Album Name</span>
  </a>
  <a class='album' href='/album/aristName/albumName'>
    <img src='https://pbs.twimg.com/profile_images/454333621331976193/AX-M-ESC.jpeg'>
    <span class='sub'>Album Name</span>
  </a>
</div>

<!-- <h1>{{ name }}</h1>
<p>{{{ bioLong }}}</p> -->